@font-face {
    font-family: 'SVN-Helvetica Neue';
    src: url('../fonts/SVN-HelveticaNeue-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Helvetica Neue';
    src: url('../fonts/SVN-HelveticaNeue-Medium.ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
